*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    display:flex;
    gap:50px;
}

.circle{
    height:200px;
    width:200px;
    border-radius: 50%;
    transition: background-color 0s ease;
    cursor: pointer;
}
.circle1{
    background-color: #3a8dff;
}
.circle2{
    background-color: #3b8eff;
}
